.wrapper {
    position: relative;
    background-color: gray;
    max-width: 500px;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input {
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid black;
}

input:not(:last-child) {
    margin-bottom: 30px;
}

.btn {
    cursor: pointer;
    width: 100px;
    height: 50px;
    color: white;
    padding: 5px;
    border-radius: 15px;
    background-color: blue;
    border: none;
}

.error-wrapper {
    margin-bottom: 10px;
}

.error {
    color: #9d0000;
    font-size: 14px;
}

.btn.disabled {
    cursor: default;
    opacity: 0.5;
}

.card-type-span {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 15px;
}

.logo {
    width: 100%;
}
